.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: 0.4em 1.3em;
}
.color-dark {
  background: #8e887f;
}
.color-light {
  background: #a99f94;
}
.color-dark,
.color-light {
  color: #fdf7f0;
}
input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
}
input.btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: #f57478;
  color: #fdf7f0;
  margin-bottom: 1em;
  cursor: pointer;
  font-size: 0.8em;
  // box-shadow: 0 0 5px #7e7165;
}
.life-container {
  background: #c4b6a8;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
